* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

input {
  padding: 4px;
}

/* header */
.header {
  color: #2a2f4a;
}

.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #c7d9dd;
  height: 40px;
  padding: 0 10px;
}

h1 {
  font-size: 20px;
  letter-spacing: 5px;
}

.header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mobile-navbar {
  animation: fadeIn 0.5s;

  &:popover-open {
    background-color: #c7d9dd;
    list-style-type: none;
    padding: 8px 10px;
    border: none;

    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 50%;
    height: 100%;

    position: absolute;
    inset: unset;
    top: 0;
    right: 0;
  }
}

@keyframes fadeIn {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

.header li:first-child {
  display: flex;
  justify-content: space-between;
}

.close {
  color: gray;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: gainsboro;
  }
}

a {
  text-decoration: none;
  color: #2a2f4a;

  &:hover {
    font-weight: bold;
  }
}

/* big screen navbar */
.big-screen-navbar {
  display: none;
  align-items: center;
  gap: 20px;

  list-style-type: none;
  padding: 0 15px;
  background-color: #c7d9dd;
}

.big-screen-navbar a {
  border-right: 2px solid #ddd;
  padding: 10px 0;
  padding-right: 20px;
}

.active {
  font-weight: bold;
}

.page-section {
  color: #2a2f4a;
  padding: 0 12px;
  padding-top: 5px;
}

/* add new book btn */
.new-book-btn {
  background-color: #c7d9dd;
  border: 2px double #2a2f4a;
  border-radius: 10px;
  padding: 3px 7px;
  cursor: pointer;
  transition: all 0.4s;

  position: fixed;
  bottom: 20px;
  right: 15px;

  & > span {
    color: #2a2f4a;
    font-size: 30px;
  }

  &:hover {
    /* border-color: #d9ebf0; */
    background-color: #d9ebf0;
    transform: scale(1.2);
  }
}

.sort-search-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 10px;
}

/* sort */
.sort-container {
  display: flex;
  gap: 10px;

  & select {
    flex: 1;
    max-width: 200px;
  }
}

/* search */
.search-container {
  max-width: 245px;

  & input {
    padding: 3px 5px;
    width: 100%;
  }
}

/* table */
.table-container {
  overflow-x: auto;
}

.book-table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  text-align: left;
  color: #2a2f4a;
  background-color: #d5e5d5;
}

.sort-book-btn,
.save-book-btn,
.add-book-btn {
  border: none;
  border-radius: 6px;
  background-color: #adb2d4;
  padding: 5px 7px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #979cc4;
  }
}

.edit-delete-btn {
  text-align: center;
}

.edit-delete-btn > button {
  margin-bottom: 1px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: gray;

  &:hover {
    color: red;
  }
}

/* popover */
.overlay {
  display: none;
  align-items: center;
  justify-content: center;

  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.book-form {
  color: #2a2f4a;
  border-radius: 10px;
  background: white;
  padding: 7px;
  margin: 0 10px;
  width: 290px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  position: relative;
}

.book-form input,
.book-form label {
  display: block;
  margin-bottom: 2px;
}

.book-form label {
  font-size: 11px;
}

.book-form > span:first-child {
  text-align: center;
}

.book-form .close {
  position: absolute;
  top: 2px;
  right: 5px;
}

@media (min-width: 450px) {
  h1 {
    font-size: 25px;
  }

  .header > div {
    background-color: transparent;

    & button {
      display: none;
    }
  }

  .big-screen-navbar {
    display: flex;
    margin-bottom: 15px;
  }

  .page-section {
    font-size: 17px;
  }

  .sort-search-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .sort-container {
    width: 300px;
    flex: 1;

    & > select {
      padding: 8px 5px;
    }

    & > button {
      width: 50px;
    }
  }

  .search-container {
    flex: 1;
    width: 270px;

    & > input {
      padding: 8px 5px;
    }
  }

  .book-table {
    margin-top: 15px;
  }
}
