.table-container {
  overflow-x: auto;
  margin-top: 15px;
  color: #333b68;
}

.table {
  border-collapse: collapse;
  width: 100%;

  @media (min-width: 450px) {
    margin-bottom: 15px;
  }
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  color: beige;
  font-weight: normal;
  background-color: #c6ac8f;
}

.edit-delete-btn,
.return-date-container {
  button {
    margin-bottom: 1px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #d9cbbc;
    padding: 0;

    .edit:hover {
      transition: color 0.7s;
      color: rgb(123, 163, 215);
    }

    .delete:hover {
      transition: color 0.7s;
      color: rgb(218, 101, 101);
    }

    .return:hover {
      transition: color 0.7s;
      color: rgb(124, 228, 152);
    }
  }
}

.new-btn {
  background-color: #c6ac8f;
  border: 2px double #2a2f4a;
  border-radius: 10px;
  padding: 3px 7px;
  cursor: pointer;
  transition: all 0.4s;

  position: fixed;
  bottom: 20px;
  right: 15px;

  span {
    color: #2a2f4a;
    font-size: 30px;
  }

  &:hover {
    background-color: #d9c1a6;
    transform: scale(1.2);
  }
}
