/* table */
.table-container {
  overflow-x: auto;
  margin-top: 15px;
  color: #333b68;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  color: beige;
  font-weight: normal;
  background-color: #c6ac8f;
}

@media (min-width: 450px) {
  .table {
    margin-bottom: 15px;
  }
}
